@{
    ViewBag.Title = "Contact";
}
<br /><br /><h2>Come PLOP</h2>
<address>
   32 Plop Way,
   Ploptown, PL, 97095<br />
 
</address>

<iframe src="https://www.google.com/maps/embed?pb=!4v1547599154906!6m8!1m7!1sylAYxvXoyzSHYT0R1ni0RA!2m2!1d42.2672286502596!2d-71.0947357520631!3f147.46902!4f0!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<address>
    <strong>Plop:</strong>   <a href="mailto:Plop@Plop.com">Plop@Plop.com</a><br />
    <strong>Ploppy:</strong> <a href="mailto:Ploppy@Ploppy.com">Ploppy@Ploppy.com</a>
</address>