@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PLOP</h1>
    <h2>Earliest Plop Date: @{ DateTime jimmy = new DateTime(); jimmy = DateTime.Now; jimmy=jimmy.AddDays(1);@jimmy.ToShortDateString(); }</h2>
    <p class="lead">Plopy.PLOP is a free plop ploppy plop for plopping great ploppity plops and ploppy plops using PLOP, PLOPS and PloppyPlops.</p>
    <p><a href="https://www.youtube.com/watch?v=G2Fatasj5sY" class="btn btn-primary btn-lg">Plop Plop &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6" >
        <h2>Getting Plopped</h2>
        <p>
            Plopy.PLOP PLOPS gives you a powerful, ploppity-based plop to plop dynamic ploppies that
            enables a ploppy separation of plops and gives you full plop over ploppies
            for enjoyable, agile ploping.
        </p>
        <p><a class="btn btn-primary" href="https://www.youtube.com/watch?v=cnoHdlsrCvo">Plop more! &raquo;</a></p></div><div class="row">
        <div class="col-md-6"><h2>Plop</h2><p>Plop to the plop? plop yourself a plop through the plop!</p></div> 
    </div>
   
</div>